@import url(./reset.css);
@import url(./header_footer.css);


/* ------主要內容------ */
main{       
    padding:0 auto;  
    display: flex; 
    flex-direction: column;
}
main section.slider>ul>li>div{
    position: relative;
}
main section.slider>ul>li>img{
    width: 100%;    
}
main section.slider>ul>li{
background-image: url(../style/img/story/973675-nature-animals-sea-seaweed-underwater-seals-sun.jpg);
   background-size: 100%;
   /* background-position: top center; */
   background-repeat: no-repeat;
   height: 40vw;
}

main section.slider>ul>li.second{
    position: relative;
    }

main section.slider>ul>li.second>img.item{
    position: absolute;
    width: 50%;
    z-index: 3;
    top:60%;
    left: 70%;
    transition:all 1s initial;  
    animation: seeweed 4s ease-out infinite;
}
    

div.video{
    position: absolute;
    position: relative;
    width: 25%;    
    height: auto;
    top: 60%;
    left: 10%; 
    display: flex;  
    justify-content: center;    
    align-items: center;
}

div.video::before{
    content:"";
    width: 100%;
    padding-bottom: 100%;
    display: block;
}
video{    
    border-radius: 50%; 
    position: absolute;
    width:80%;
    height: 79%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
    z-index: 3;     
    transition:all 1s initial;      
    animation: seeweed 10s ease-out infinite;

}
main section.slider>ul>li.second>div.video>div.circle{       
    position: absolute;     
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    z-index: 3;   
    transition:all 1s initial;      
    animation: seeweed 10s ease-out infinite;    
}
main section.slider>ul>li.second>div.video>div.circle img{
    width: 100%;
}



main section.slider>ul>li.second>img.seconditem{
    position: absolute;
    width: 30%;
    z-index: 3;
    top: 180%;
    left: -10%;
    transition:all 1s initial;  
    animation: seeweed 4s ease-out infinite;
        }
/* div.circle{
        margin: 0 auto;
        width:30%;
        height: 30%;        
        clip-path: circle(100% at 100% 100%);

}
video{
  width: 400%;
   padding-top: auto;
    
} */

 


main section.main{    
    margin:0 auto; 
    width: 70%
}
section.main>div.box{
    text-align: center;
    padding:50px 0;    
}
main section.main{    
    margin:0 auto; 
    width: 70%
}
section.main>div.box{
    text-align: center;
    padding:50px 0;    
}
main section.main>ul{        
    display: flex;   
    width: 100%;    
    flex-wrap: wrap;  
    margin-bottom: 50px;
      }
main section.main>ul>li{            
    text-align: center;  
    width: 50%;
    height: auto;
    position: relative;
    
    
    /* justify-content: center;  */
     }
main section.main>ul>li.textarea{     
    flex-grow: 9;
    flex-basis: 200px;
    align-self: center;
    padding: 0 50px ;
    
}
main section.main>ul>li.textarea p{
    
}
main section.main>ul>li.img{ 
    flex-basis: 300px;
    flex-grow: 1;
    margin-bottom:50px;
   
 }
main section.main>ul div.textbox{ 
    margin:0 10px;
    }
section.main>ul>li>img{
    display: block;    
    width: 100%;   
}
div.textbox>a{
    margin: 10px auto;
    text-decoration: none;
    display: block;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    background-color: black;
    color: white;   
}
div.textbox>a:hover{
    background-color: gray;
}
section.bonus{
    width: 70%;
    margin: 0 auto;
}
main section.slider2>ul>li>div{
        position: relative;
    }
main section.slider2>ul>li>img{
        width: 100%;
        display: block;
  
    }
main section.slider2>ul>li.second{
        position: relative;
    }
    
main section.slider>ul>li.second2>img.item{
        position: absolute;
        width: 30%;
        z-index: 3;
        top:60%;
        left: 70%;
        }  
footer{margin-top: 0;
        padding-top:0;
    }  
li.img>img{
    width: 100%;
    z-index: 5;
}
li.img>img.item{
    width: auto;
    position: absolute;
}
li.img>img.first{
    height: 65%;
    top:80%;
    right:50%;    
}
li.img>img.second{
    height: 65%;
    top:80%;
    left:56%;    
    opacity: 0.8;
}
li.img>img.third{
    height:90%;
    right:60%;
    top:50%;    
    opacity: 0.8;
    z-index: -2;
    transition:all 1s initial;  
    animation: seeweed 6s ease-out infinite;
}
li.img>img.fourth{
    height:100%;
    right:60%;
    top: 30%;    
    opacity: 9;
    z-index: -1;
    transition:all 1s initial;  
    animation: seeweed 5s ease-out infinite;
}
html{
    overflow-x: hidden;        
}

@keyframes seeweed{
    0%{
        transform: translateY(30px);
    }
    50%{
        transform: translateY(60px);
    }
    100%{
        transform: translateY(30px);
    }
}
/* @keyframes seeweed2 */


ul li.img>div.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:-3 ;
    /* background-color: rgb(131, 127, 127); */
    background: url("../style/img/story/Silk-Wallpaper-1920x1080-1.jpg") no-repeat;
    background: size 100%;
    /* background-attachment:fixed; */
   
}   
ul li.img>div.odd{    
    top: 10%;
    right: 10%;
} 
ul li.img>div.even{    
    top: 10%;
    left: 10%;
}  



/* ul li.img>div.mask {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 100%;
    height: 100%;
    z-index:-1 ;
    background: url("../style/img/story/AdobeStock_95966290-700x500.jpg") no-repeat top center;
    background-size:100%;  
    background-attachment: fixed;
}    */





@media screen and (max-width:575.98px){         
    main section.slider>ul>li{
            background-image: url(../style/img/story/Image-C2.jpg);
            background-size: 100%;        
            background-repeat: no-repeat;
            height: 90vw;        
         }        
    main section.slider>ul>li.lips>img.item{ /* 關於 */
        transform: translate(-50%,0);           
        position: absolute;
        width: 60%;
        z-index: 3;
        top:70%;
        right:30%;  
    }
    div.video{
        position: absolute;
        position: relative;
        width: 70%;    
        height: auto;
        top: 50%;
        left: 0%; 
        transform: translate(-50%,0);
        display: flex;  
        justify-content: center;    
        align-items: center;
    }
}
@media screen and (max-width:800px) {      
    main section.main>ul>li.textarea{     
        flex-grow: 1;
        flex-basis: 200px;
        align-self: center;
        padding: 0 50px ;
    }       
    li.background_image{
        display: block;
        height: 300px;        
    }
    section.main ul{
        
        display: flex;
        flex-direction: column;
    }
    main section.main>ul>li.textarea{   
        width: 100%;  
             
        padding: 0 ;        
    }  
    ul>li.img>.mask,ul>li.img>img.bgi,ul>li.img>img.item{
        display: none;
    }
    main section.main>ul>li.textarea{     
        flex-grow: 1;
        width: 100%;
        align-self: center;
        padding: 0;
        order: 2;
    }
    main section.main>ul>li.img{ 
        width: 100%;
        height: 100vh;
        flex-grow: 2;             
     }
    div.imgchange{       
        background-size:cover;
        background-repeat: no-repeat;
        padding: 0 auto;
        width: max-content;
        width: 100%;
        height: 100%;
        background-position: center center;  
        order: 1;
     }
    div.imgchange.first{
        background-image: url(../style/img/story/pexels-mart-production-8450353.jpg);
    }
    div.imgchange.second{
        background-image: url(../style/img/story/story_bgi/2-2000x1333.jpg);
    }
    div.imgchange.third{
        background-image: url(../style/img/story/story_bgi/3-2000x1333.jpg);
    }
   li.img>img.third.item,li.img>img.fourth.item{
    display: block;        
    right:60%;
    top: 120%;
    width:90%;
    height: auto;
    }
    main section.slider>ul>li.second>img.item{
        width: 80%;
        height: auto;
    }
    main section.slider>ul>li.second>img.seconditem{
        width: 100%;
        top: 100vh;
        left: -300px;
        position: absolute;
        z-index: 0;
    }    
}
@media screen and (max-width:950px) { 
    main section.main>ul>li.textarea {
        padding:0 20px;

    }
} 


/* @media screen and (max-width:930px){
    section.main>ul{        
       
        display: flex;
}
    section.main>ul>li{      
       
        margin: auto 0;
        position: relative;      
    }
}
    section.main>ul>li.img{
        order: 1;
        width:500px;
    }
    section.main>ul>li.textarea{
        order: 2;        
        padding: 20px 0;
        width:500px;
    }
} */