@import url(./reset.css);
@import url(./header_footer.css);


/* ------主要內容------ */
main{       
    padding:0 auto;  
    margin-top: 50px;
}
main section.main>ul.cart{   
    
    width: 70%;     
    display: flex;   
    margin: 0 auto;
    flex-wrap: wrap;  
    justify-content: space-between;
}
main section.main>ul.cart>li.photo{     
    flex-grow: 5;
    text-align: center;  
    width: 60%;
    height: auto;  
    padding: 20px 0;
    position: relative;  
    }
ul.showbar{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 50px;
    left: 50px;
}
ul.showbar li{
    width:10%;
    height: 10%; 
    
    background-color: #fff;
}
ul.showbar li img{
    width: 100%;   
    height: 100%;
}

main section.main>ul.cart>li.content{ 
    flex-grow: 4;
    flex-basis: 350px;
    padding: 10px;
}

main section.main>ul.cart>li>img.product{  
    width: 100%;
    height: 100%;      
         }
main section.main>ul.cart>li>img.favorite{
    width: 30px;
    position: absolute;
    top:50px;
    right: 50px;
}
main section.main>ul.cart>li:hover{
    /* outline: solid 0.5px gray; */
   
    border-radius: 5px;
}
div.choice>ul{
    display: flex;    
    justify-content: space-between;
}
div.choice>ul>li{
    font-size: 0.8rem;
    text-align: center;
    width: 30%;
    padding: 3px;
    border: gray solid 0.5px;
    border-radius: 5px;
}
ul.cart>li.content>div{
    padding:5px 0;
    border-bottom:  gray solid 1px;
}
div.buttom{
    font-size: 1rem;
    width: 30%;
    background-color: black;
    color: white;
    margin: 10px 0;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
}
ul.cart>li>img.product{
    width:20%;
}
div.choice>ul>li:hover{
    outline: black 1px solid;
    cursor: pointer;
    }
ul.showbar li:hover{
    border-bottom: solid 1px black;
    cursor: pointer;
}

