@import url(./reset.css);
@import url(./header_footer.css);
/* body.sign{
    background-color: rgba(0, 0, 0, 0.68);
    background-size: 100%;
    height: 100%;
    position: relative;
} */

.login-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 30;
}
div.login{
    margin: auto;
    background-color: white;
    width: 500px;
    height:500px;
    border-radius: 10px;
    box-shadow: 3px rgb(56, 55, 55);
    display: flex;
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:10;
}
div.loginbox{
    
    margin: auto;
    width: 400px;
    height: 400px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.login_ul{
    display: flex;
    flex-direction: column;    
}
.login_ul>li{ 
    padding-top: 20px;
    line-height: 2;
    list-style: none;
    height: 30%;
    justify-content: center;    
}
div>a.login,section>a.sign{     
    line-height: 30px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: black;
    width: 200px;
    height: 30px;
    margin: 0 auto;
    display: block;
}

input.username,input.password{
    width: 80%;
}

ul.login_ul>li>a{
    font-size: 0.8rem;
    color: blue;
}
section.sign>h4{
    margin-top: 50px;
    line-height: 3;
}
ul.login_ul>li>h5{     
    line-height: 2;
    display: inline-block; }
