@import url(./reset.css);
@import url(./header_footer.css);


/* ------主要內容------ */
main{       
    padding:0 auto;  
    display: flex; 
    flex-direction: column;
}
main section.slider>ul>li>div{
    position: relative;
}
main section.slider>ul>li>img{
    width: 100%;
}
main section.slider>ul>li.second{
    position: relative;
    }
main section.slider>ul>li.second>img.item{
    position: absolute;
    width: 30%;
    z-index: 3;
    top:60%;
    left: 70%;
    }
main section.main{    
    margin:0 auto; 
    width: 70%
}
section.main>div.box{
    text-align: center;
    padding:50px 0;    
}
main section.main>ul.product{        
    display: flex;   
    margin: 0 auto;
    flex-wrap: wrap;  
    justify-content: space-between;
}
main section.main>ul.product>li{ 
    position: relative;           
    text-align: center;  
    width: 30%;
    height: auto;  
    padding: 20px 0;
     }
main section.main>ul.product>li>a{
    text-decoration: none;
}
main section.main>ul.product>li>a>img.product{            
    text-align: center;  
    width: 100%;
    height: auto;    
         }
main section.main>ul.product>li>a>img.favorite{
    position: absolute;
    width: 20px;
    top:10px ;
    right: 10px;
}
main section.main>ul.product>li:hover{
    /* outline: solid 0.5px gray; */
    background-color: rgb(243, 237, 225);
    border-radius: 5px;
}